.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background-color: #f1f1f2;
}

.work-space {
  display: flex;
  flex: 1;
  overflow: hidden;
}