.actionButton {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  margin-right: 7px;
  font-family: "Montserrat";
  font-size: 16px;
  color: #040303;
  cursor: pointer;
  background-color: #fafafa;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: 250ms;
}

.actionButton:hover {
  background-color: #f62b7c;
  transition: 250ms;
}

.actionButton:active {
  transform: scaleX(0.97) scaleY(0.97);
}

.actionButtonLabel {
  font-size: 16px;
  font-weight: bold;
}
