.actionBar {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 8px 12px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}
.actionMain {
  display: flex;
  padding: 0px 73px 0px 0px;
}

.buttonIcon {
  font-size: 24px;
}