.slide {
  display: flex;
}

.slide-miniature {
  display: flex;
  width: 250px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  cursor: pointer;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition: 100ms;
}

.slide-miniature:hover {
  box-shadow: inset 4px 4px 80px rgb(0 0 0 / 15%);
}

.slide-remove:hover {
  color: rgba(0, 0, 0, 0.8);
}

.slide-preview {
  display: flex;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  margin-bottom: 8px;
  margin-left: -30px;
  overflow: hidden;
  border-radius: 0 8px 8px 0;
}

.slide-preview-row{
  display: flex;
  justify-content: space-between;

  overflow: hidden;
}

.slide-index{
  margin-right: 10px;
}

.slide-preview-mini {
  top: 0;
  left: 0;
  display: flex;
  transform: scale(0.3);
}

.slide-preview-mini * {
  position: absolute;
}
